:root {
  --main-color-light: #e5e5e5;
  --main-color-medium: #f5f9ed;
  --border-color-dark: #000000;
  --border-color-light: #e9efdb;
  --text-color-darker: #0e2715;
  --text-color-dark: #1a3923;
  --text-background-color-dark: #31533b;
  --text-background-color-light: #cddab2;
  --background-color-medium: #b3b476;
  --addition-color-light: #ffffff;
  --addition-color-medium: #8b8c4a;
  --addition-color-dark: #c4c4c4;
  --link-color: #ce4115;
  --card-image-color-light: #dcdcdc;
  --button-text-color-light: #fbf1e3;
  --header-color: #f5efeb;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif; /* В макеті було наведено шрифт, захищений платною ліцензією, тому намагався знайти схожий варіант */
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  min-width: 375px;
  max-width: 940px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}
