:root {
  /* colors */

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif; /* В макеті було наведено шрифт, захищений платною ліцензією, тому намагався знайти схожий варіант */
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  min-width: 375px;
  max-width: 940px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}
