.co-work-section {
  background-color: #ffffff;
}

.co-work-section > .container {
  padding: 3.75rem 1.125rem 7.5rem;
}

.co-work-heading {
  font-size: clamp(2.5rem, 8vw, 3.33rem);
  color: #1a3923;
}

.co-work-heading span {
  display: block;
}

.co-work-heading-caption {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
  line-height: 152.5%;
  color: #31533b;
}

.co-work-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 1.25rem;
}

.co-work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(70px, calc(11vw + 3.24vh), 120px);
  gap: 8px;
}

.co-work-image-wrapper {
  width: 100%;
  height: clamp(70px, calc(11vw + 3.24vh), 120px);
  background-color: #c4c4c4;
  border-radius: 50%;
}

.co-work-image-caption {
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  color: #1a3923;
}

@media screen and (min-width: 768px) {
  .co-work-heading,
  .co-work-heading-caption {
    text-align: center;
  }

  .co-work-section > .container {
    padding: 6.66rem 1.125rem 12.9rem;
  }
}
