.co-work-section {
  background-color: var(--main-color-medium);
}

.co-work-section > .container {
  padding: 3.75rem 1.125rem 7.5rem;
}

.co-work-heading {
  font-size: clamp(2.5rem, 8vw, 3.33rem);
  color: var(--text-color-dark);
}

.co-work-heading span {
  display: block;
}

.co-work-heading-caption {
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
  line-height: 152.5%;
  color: var(--text-background-color-dark);
}

.co-work-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 1.25rem;
}

/* Можливо, картки можна було б також зробити окремим компонентом... */
.co-work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: clamp(70px, calc(11vw + 3.24vh), 120px);
}

.co-work-image-wrapper {
  width: 100%;
  height: clamp(70px, calc(11vw + 3.24vh), 120px);
  background-color: var(--addition-color-dark);
  border-radius: 50%;
}

.co-work-image-caption {
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color-dark);
}

@media screen and (min-width: 768px) {
  .co-work-heading,
  .co-work-heading-caption {
    text-align: center;
  }

  .co-work-section > .container {
    padding: 6.66rem 1.125rem 12.9rem;
  }
}
