/* Цю секцію зробив дуже "криво", бо, чесно кажучи, просто не розумію, що робити із зображенням автора */

.cv-section {
  background-color: #31533b;
  max-height: 635px;
}

.cv-section > .container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.25rem 3.75rem;
  overflow: visible;
  max-height: 635px;
}

.cv-heading {
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.875rem, 8vw, 4.44rem);
  font-weight: bold;
  color: #f5f9ed;
  margin-bottom: 0.9375rem;
}

.cv-heading span {
  display: block;
}

.cv-description {
  max-width: 458px;
  line-height: 1.5;
  color: #cddab2;
}

.cv-image-wrapper {
  position: absolute;
  right: 20px;
  top: 0;
  order: -1;
  align-self: flex-end;
  width: 124px;
  aspect-ratio: 0.795;
  transform: translateY(-55px);
}

.cv-image-wrapper img {
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.quotmark-pict {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: clamp(2.625rem, 10vw, 5.83rem);
  height: clamp(1.5625rem, calc(5.5vw), 3.216rem);
  background-image: url("./../icons/quotmark_pict.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(40%);
}

@media screen and (min-width: 768px) {
  .cv-section > .container {
    flex-direction: row;
    align-items: center;
    gap: 28px;
    padding: 0 1.25rem;
  }

  .cv-description {
    font-size: 1.11rem;
  }

  .cv-image-wrapper {
    position: static;
    order: 0;
    transform: translate(0);
    width: clamp(124px, calc(48vw - 40px), 487px);
    aspect-ratio: 0.667;
  }

  .quotmark-pict {
    transform: translateY(40%) translateX(1vw);
  }
}

@media screen and (min-width: 1040px) {
  .cv-section > .container {
    padding: 0;
  }
}
