.footer {
  background-color: #ffffff;
}

.footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2.5rem 1rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.copyright {
  font-family: "Nunito";
  font-size: 0.625rem;
}

@media screen and (min-width: 768px) {
  .footer > .container {
    /* padding: 2.22rem 1rem; */
  }
}
