.footer {
  background-color: #ffffff;
}

.footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 16px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.copyright {
  font-family: "Nunito";
  font-size: 10px;
}
