.hero {
  background-color: #cddab2;
  overflow: hidden;
}

.hero > .container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  min-height: 300px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 52%;
  padding: 1.875rem 0 1.875rem 1.125rem;
}

.hero-heading {
  font-size: 2.875rem;
  font-weight: bold;
  color: #0e2715;
}

.hero-heading span {
  display: block;
}

.hero-description {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  color: #31533b;
}

.social-links {
  font-size: 0;
}

.social-links > li {
  display: inline-block;
  font-size: 1rem;
}

.social-links > li + li {
  margin-left: clamp(12px, 2vw, 22px);
}

.social-link {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.mail-link {
  background-image: url("./../icons/mail.svg");
}

.instagram-link {
  background-image: url("./../icons/instagram.svg");
}

.behance-link {
  background-image: url("./../icons/behance.svg");
}

.linkedIN-link {
  background-image: url("./../icons/linkedIN.svg");
}

.whatsApp-link {
  background-image: url("./../icons/whatsApp.svg");
}

.hero .image-wrapper {
  width: 48%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .hero > .container {
    padding-top: 0;
  }

  .hero-heading {
    font-size: 5.33rem;
  }

  .hero-description {
    font-size: 1.56rem;
  }

  .social-link {
    width: 2.44rem;
    height: 2.44rem;
  }
}
