.hero {
  background-color: #cddab2;
  overflow: hidden;
}

.hero > .container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  min-height: 300px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 30px 0 30px 18px;
}

.hero-header {
  font-size: 46px;
  font-weight: bold;
}

.hero-header span {
  display: block;
}

.hero-description {
  font-size: 12px;
  margin-bottom: 1rem;
}

.social-links {
  font-size: 0;
}

.social-links > li {
  display: inline-block;
  font-size: 1rem;
}

.social-links > li + li {
  margin-left: 12px;
}

.social-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mail-link {
  background-image: url("./../icons/mail.svg");
}

.instagram-link {
  background-image: url("./../icons/instagram.svg");
}

.behance-link {
  background-image: url("./../icons/behance.svg");
}

.linkedIN-link {
  background-image: url("./../icons/linkedIN.svg");
}

.whatsApp-link {
  background-image: url("./../icons/whatsApp.svg");
}

.hero .image-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hero .image-wrapper img {
}
