.hero {
  position: relative;
  background-color: var(--text-background-color-light);
  overflow: hidden;
}

.hero > .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 300px;
  padding-top: 2rem;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 52%;
  padding: 1.875rem 0 1.875rem 1.125rem;
}

.hero-heading {
  font-size: clamp(2.875rem, 10vw, 5.33rem);
  font-weight: bold;
  color: var(--text-color-darker);
}

.hero-heading span {
  display: block;
}

.hero-description {
  margin-bottom: 1rem;
  font-size: clamp(0.75rem, 3vw, 1.56rem);
  color: var(--text-background-color-dark);
}

.social-links {
  font-size: 0;
}

.social-links > li {
  display: inline-block;
  font-size: 1rem;
}

.social-links > li + li {
  margin-left: clamp(12px, 2vw, 22px);
}

.social-link {
  display: inline-block;
  width: clamp(1.5rem, calc(2.89vw + 1.57vh), 2.44rem);
  height: clamp(1.5rem, calc(2.89vw + 1.57vh), 2.44rem);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.mail-link {
  background-image: url("./../icons/mail.svg");
}

.instagram-link {
  background-image: url("./../icons/instagram.svg");
}

.behance-link {
  background-image: url("./../icons/behance.svg");
}

.linkedIN-link {
  background-image: url("./../icons/linkedIN.svg");
}

.whatsApp-link {
  background-image: url("./../icons/whatsApp.svg");
}

.hero .image-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 48%;
}

.hero .back {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .hero > .container {
    padding-top: 0;
  }
}

@media screen and (min-width: 1300px) {
  .hero .back::before {
    position: absolute;
    width: 21.6vw;
    height: 27.1vw;
    content: "";
    background-image: url("./../icons/header_leaf_pict.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
