.hero {
  background-color: #cddab2;
  overflow: hidden;
}

.hero > .container {
  position: relative;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  min-height: 300px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 52%;
  padding: 1.875rem 0 1.875rem 1.125rem;
}

.hero-heading {
  font-size: clamp(2.875rem, 10vw, 5.33rem);
  font-weight: bold;
  color: #0e2715;
}

.hero-heading span {
  display: block;
}

.hero-description {
  margin-bottom: 1rem;
  font-size: clamp(0.75rem, 3vw, 1.56rem);
  color: #31533b;
}

.social-links {
  font-size: 0;
}

.social-links > li {
  display: inline-block;
  font-size: 1rem;
}

.social-links > li + li {
  margin-left: clamp(12px, 2vw, 22px);
}

.social-link {
  display: inline-block;
  width: clamp(1.5rem, calc(2.89vw + 1.57vh), 2.44rem);
  height: clamp(1.5rem, calc(2.89vw + 1.57vh), 2.44rem);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.mail-link {
  background-image: url("./../icons/mail.svg");
}

.instagram-link {
  background-image: url("./../icons/instagram.svg");
}

.behance-link {
  background-image: url("./../icons/behance.svg");
}

.linkedIN-link {
  background-image: url("./../icons/linkedIN.svg");
}

.whatsApp-link {
  background-image: url("./../icons/whatsApp.svg");
}

.hero .image-wrapper {
  width: 48%;
  display: flex;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .hero > .container {
    padding-top: 0;
  }
}

@media screen and (min-width: 1240px) {
  .hero::before {
    position: absolute;
    left: 0;
    top: 30%;
    content: "";
    width: 20.6vw;
    height: 25.1vw;
    background-image: url("./../icons/header_leaf_pict.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1440px) {
  .hero::before {
    top: 25%;
    width: 20.6vw;
    height: 37.1vw;
  }
}
