.top-navbar {
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.1;
  color: #1a3923;
  background-color: #f5efeb;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.top-navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6875rem 1.125rem;
}

.logo {
  text-transform: lowercase;
}

.logo span {
  display: block;
  font-weight: bold;
}

.nav-links {
  text-align: right;
}

.burger {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./../icons/menu.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

/* .nav-links {
  font-size: 0;
}

.nav-link {
  display: inline-block;
  font-size: 1.25rem;
}

.nav-link + li {
  margin-left: 30px;
}

.nav-links > :nth-child(1)::before {
  content: "I";
  font-weight: bold;
  color: #8b8c4a;
} */
