.top-navbar {
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.1;
  color: var(--text-color-dark);
  background-color: var(--header-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.top-navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6875rem 1.125rem;
}

/* Лого можна було б зробити окремим компонентом, але воно перевизначається у футері (змінює деякі стилі), тому залишив так */
.logo {
  text-transform: lowercase;
}

.logo span {
  display: block;
  font-weight: bold;
}

.nav-links {
  display: none;
}

.nav-links > :nth-child(1)::before {
  font-weight: bold;
  content: "I";
  color: var(--addition-color-medium);
}

.nav-container:hover .nav-links {
  position: absolute;
  right: 0;
  display: block;
  width: 140px;
  padding: 20px 12px;
  line-height: 3;
  background-color: var(--addition-color-light);
}

.nav-container:hover .nav-link + .nav-link {
  border-top: 1px solid var(--addition-color-dark);
}

.nav-container:hover .nav-links::before {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 9px;
  height: 9px;
  content: "";
  background-image: url("./../icons/close_btn_pict.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.nav-container {
  position: relative;
}

.burger {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  background-image: url("./../icons/menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav-container:hover .nav-links {
    position: static;
    display: block;
    width: auto;
    padding: 0;
    line-height: 1.1;
    background: none;
  }

  .nav-container:hover .nav-links::before {
    display: none;
  }

  .nav-container:hover .nav-link + .nav-link {
    border-top: none;
  }

  .top-navbar {
    font-size: 1.11rem;
  }

  .burger {
    display: none;
  }

  .nav-links {
    display: block;
    font-size: 0;
  }

  .nav-link {
    display: inline-block;
    font-size: 1.11rem;
  }

  .nav-link + li {
    margin-left: clamp(30px, 2.08vw, 45px);
  }
}
