.proposal-section {
  background-color: #b3b476;
}

.proposal-section > .container {
  padding: 3.75rem 1.125rem;
}

.proposal-heading {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  color: #0e2715;
}

.proposal-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(331px, 400px));
  gap: 20px;
  justify-content: start;
}

.proposal-card {
  display: flex;
  min-width: 331px;
  max-width: 400px;
  gap: 13px;
}

.proposal-image-wrapper {
  flex-shrink: 0;
  width: clamp(100px, calc(13.33vw + 5.7vh), 120px);
  height: clamp(100px, calc(13.33vw + 5.7vh), 120px);
  background-color: #dcdcdc;
  border: 1px solid #000000;
}

.proposal-info-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.proposal-card-info {
  font-size: 1.125rem;
  line-height: 1.5;
}

.proposal-card-info strong {
  font-weight: bold;
  color: #1a3923;
}

.proposal-btn {
  display: block;
  width: fit-content;
  padding: 0.5rem 1.875rem;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fbf1e3;
  border: 1px solid #000000;
  background-color: #ce4115;
}

.cursor-pict {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  background-image: url("./../icons/cursor_pict.svg");
  background-repeat: no-repeat;
}
