.proposal-section {
  background-color: var(--background-color-medium);
}

.proposal-section > .container {
  padding: 3.75rem 1.125rem;
}

.proposal-heading {
  margin-bottom: 2.5rem;
  font-size: clamp(2.5rem, 8vw, 3.33rem);
  color: var(--text-color-darker);
}

.proposal-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(331px, 400px));
  justify-content: center;
  gap: 20px;
}

.proposal-card {
  display: flex;
  min-width: 331px;
  max-width: 400px;
  gap: 13px;
}

.proposal-image-wrapper {
  flex-shrink: 0;
  width: clamp(100px, calc(13.33vw + 5.7vh), 120px);
  height: clamp(100px, calc(13.33vw + 5.7vh), 120px);
  background-color: var(--card-image-color-light);
  border: 1px solid var(--border-color-dark);
}

.proposal-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.proposal-card-info {
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--text-color-dark);
}

.proposal-card-info strong {
  font-weight: bold;
}

.proposal-btn {
  display: block;
  width: fit-content;
  padding: 0.5rem 1.875rem;
  line-height: 1.5;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--button-text-color-light);
  border: 1px solid var(--border-color-dark);
  background-color: var(--link-color);
}

.cursor-pict {
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  background-image: url("./../icons/cursor_pict.svg");
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .proposal-card-container {
    justify-content: start;
  }

  .proposal-section > .container {
    padding: 6.66rem 1.125rem;
  }

  .proposal-card-info {
    color: var(--text-color-darker);
  }
}
