.reviews-section {
  position: relative;
  background-color: #cddab2;
}

.reviews-section > .container {
  position: relative;
  padding: 3.75rem 2.5rem;
  font-size: 0.875rem;
}

.reviews-section p {
  line-height: 1.2;
}

.reviews-section p:not(:last-of-type) {
  margin-bottom: 1.25rem;
}

.review-owner {
  font-weight: bold;
  margin-top: 0.9375rem;
  text-align: end;
}

.review-text::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  display: inline-block;
  width: 0.75rem;
  height: 1.375rem;
  background-image: url("./../icons/caret_right.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.review-text::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  display: inline-block;
  width: 0.75rem;
  height: 1.375rem;
  background-image: url("./../icons/caret_left.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .reviews-section > .container {
    padding: 6.66rem 2.5rem;
    font-size: 1rem;
  }

  .reviews-section p:not(:last-of-type) {
    margin-bottom: 1.66rem;
  }

  .re .review-text::before {
    left: calc(12px - 0.3vw);
  }

  .review-text::after {
    right: calc(12px - 0.3vw);
  }
}

@media screen and (min-width: 1240px) {
  .reviews-section::after {
    position: absolute;
    right: 0;
    top: 40%;
    content: "";
    width: 12.6vw;
    height: 25.1vw;
    background-image: url("./../icons/review_leaf_pict2.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-section::after {
    top: 28%;
    width: 14.6vw;
    height: 30.1vw;
  }
}
