.servises-section {
  background-color: #f5f9ed;
}

.servises-section > .container {
  padding: 2.5rem 1.125rem;
}

.servises-heading {
  font-size: clamp(2.5rem, 8vw, 3.33rem);
  margin: 1.25rem 0 2.5rem 0;
  color: #1a3923;
}

.servises-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.servises-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  flex-grow: 1;
  flex-basis: 380px;
  gap: 20px;
  padding: 2.5rem 1rem;
  border: 2px solid #000000;
  background-color: #31533b;
}

.servises-card-heading {
  font-size: 1.875rem;
  color: #f5f9ed;
}

.servises-card-description {
  color: #cddab2;
  line-height: 1.5;
}

.servises-card-description > strong {
  display: block;
  font-weight: bold;
}

.servises-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 0.625rem 1rem;
  height: 58px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #e9efdb;
  background-color: #b3b476;
}

.selection-text {
  display: block;
}

.servises-selection + .servises-selection {
  margin-top: 0.5rem;
}

.dropdown-pict {
  display: inline-block;
  width: 1.25rem;
  height: 0.625rem;
  background-image: url("./../icons/dropdown_pict.svg");
  background-repeat: no-repeat;
}

.servises-btn {
  display: block;
  margin: 0 0.9375rem 0;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fbf1e3;
  border: 1px solid #000000;
  background-color: #ce4115;
}

.servises-portfolio + .servises-btn {
  margin-top: 0.5rem;
}

.servises-btn .checkmark {
  display: inline-block;
  width: 1.25rem;
  height: 0.9375rem;
  vertical-align: middle;
  background-image: url("./../icons/checkmark.svg");
  background-repeat: no-repeat;
}

.servises-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.59rem;
  font-weight: bold;
  margin: 0 0.9375rem 0;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  color: #fbf1e3;
  border: 2px solid #ce4115;
}

.servisos-heading-caption {
  color: #cddab2;
  font-size: 1rem;
}

.servises-card-heading:has(+ .servisos-heading-caption) {
  margin-bottom: -0.625;
}

.behance-white {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  background-image: url("./../icons/behance_white.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.group-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .servises-section > .container {
    padding: 4.44rem 1.125rem;
  }

  .servises-heading {
    margin: 2.22rem 0 2.5rem 0;
  }

  .servises-card {
    gap: 30px;
    padding: 3.33rem 2.22rem;
  }

  .servises-card-heading {
    font-size: 2rem;
  }

  .servises-card-heading span {
    display: block;
  }

  .group-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }

  .group-wrapper > * {
    flex-grow: 1;
  }
}
