:root {
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  /* line-height: 1.5; */
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif; /* В макеті було наведено шрифт, захищений платною ліцензією, тому намагався знайти схожий варіант */
}

.hero {
  width: 100%;
}

.top-navbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 30px 18px;
  font-size: 1.25rem;
  line-height: 1.1;
  color: #1a3923;
  background-color: #f5efeb;
  box-shadow: 0 2px;
}

.logo strong {
  display: block;
  font-weight: bold;
}

.nav-links {
  font-size: 0;
}

.nav-link {
  display: inline-block;
  font-size: 1.25rem;
}

.nav-link + li {
  margin-left: 30px;
}

.nav-links > :nth-child(1)::before {
  content: "I";
  font-weight: bold;
  color: #8b8c4a;
}
